html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Disable scrolling on the entire page */
}

.homeContent {
  display: flex;
  height: 100vh; /* Ensure the content takes full viewport height */
  justify-content: space-evenly;
  gap: 80px;
  padding: 40px;
  flex-grow: 1;
  overflow: hidden; /* Prevent scrolling on the homeContent */
}

.chartContainer {
  padding: 0px 20px;
  flex: 1; /* Allow the chart container to take available space */
}

.peopleContainer {
  padding: 0px 20px;
  min-height: 0; /* Ensure the container can shrink */
  display: flex;
  flex-direction: column;
}

.personDetailRoot {
  display: flex;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  flex-direction: row;
  gap: 30px;
  margin: 10px 0px;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.leftDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rightDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Name {
  font-size: large;
  font-weight: bold;
}

.Tag {
  font-size: small;
}

.personDetailRoot:hover {
  background-color: rgb(80, 80, 80);
}

.homeLayoutRoot {
  height: 100vh;
}

.p-title {
  font-weight: bold;
  font-size: 20px;
  position: sticky; /* Make the title sticky */
  top: 0; /* Stick the title to the top of the container */
  z-index: 1; /* Ensure the title stays above other content */
  padding: 10px 0; /* Optional: Add some padding */
}

.peopleList {
  flex-grow: 1; /* Allow the people list to grow and take available space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-top: 10px; /* Optional: Add some padding */
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
