html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Disable scrolling on the entire page */
}

.homeContent {
  display: flex;
  height: 100vh; /* Ensure the content takes full viewport height */
  justify-content: space-evenly;
  gap: 80px;
  padding: 40px;
  flex-grow: 1;
  overflow: hidden; /* Prevent scrolling on the homeContent */
}

.chartContainer {
  padding: 0px 20px;
  flex: 1; /* Allow the chart container to take available space */
}

.peopleContainer {
  background-color: red;
  padding: 0px 20px;
  min-height: 0; /* Ensure the container can shrink */
  overflow-y: auto; /* Enable vertical scrolling */
}

.personDetailRoot {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 10px 0px;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.leftDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rightDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Name {
  font-size: large;
  font-weight: bold;
}

.Tag {
  font-size: small;
}

.personDetailRoot:hover {
  background-color: rgb(120, 227, 199);
}

.homeLayoutRoot {
  height: 100vh;
}
