.signInUpCard {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 14px;
  transition: all 0.5s;
}

.mainText {
  padding: 34px;
}

.welcomeText {
  color: #1454af;
  font-size: xx-large;
  font-weight: bold;
}

.forgotPwd {
  cursor: pointer;
  align-self: flex-end;
  font-size: small;
}

.submitBtn {
  align-self: normal;
}

.signInForm,
.signUpForm {
  animation-name: appear;
  animation-duration: 0.8s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
